<div class="note">
  <div class="title">
    {{m.title}}
  </div>
  <div class="body">
    {{m.content}}
  </div>
  {{#each m.tags as |tag|}}
    <a href="#" class="button-link">{{tag}}</a>
  {{/each}}
</div>


{{yield}}
