<div id="note-create">


  {{input name="title" placeholder="Title"}}

  {{textarea name="body" placeholder="Body" rows=5 cols=10}}

  {{input name="tags" placeholder="Tags" size=30}}
</div>

{{yield}}
