#container{
  display: block;
  width:1000px;
  height:1000px;
  padding:10px;
  border:1px solid black;
}

.sidebar {
  padding:10px;
  position:absolute;
  float: left;
  width: 170px;
  color:black;
  background: lightgrey;
}

.content{
  width:800px;
  border:1px solid gray;
  float:right;
}

.note{
  margin:4px;
  margin-bottom:10px;
  padding:5px;
  border:1px solid lightgray;
}

.note .title{
  font:20px sans-serif;
}

.note .body{
  font:16px sans-serif;
}

.note a.tag{
  font-size:10px;
  margin: 4px;
}

#note-create {
  padding:5px;
  margin:4px;
  margin-bottom:10px;
  border:1px dashed lightgray;
}

#note-create input, textarea{
  display:block;
  margin:3px;
}

button.small-button{
  margin:5px;
  background: teal;
  font: 13px sans-serif;
  border:0;
  color:white;
  outline-style: none;
}

.small-button:hover{
  cursor: pointer;
  background: turquoise;
}

.small-button:active{
  color:black;
  background: #b2f2ec;
}

a.button-link{
  font: 13px sans-serif;
  text-decoration: underline;
  color: #0086b3;
  margin-right:3px;
}

.button-link:hover{
  cursor: pointer;
  color: turquoise;
}

.button-link:active{
  color: #b2f2ec;
}

.margin-5{
  margin:5px;
}

.sidebar a.button-link:hover{
  color: darkslategray;
}

.sidebar .small-button{
  margin-left:0px;
}

.small-button.disabled{
  color: lightgray;
  background: #9b9b9b;
}

.small-button.disabled:hover{
  cursor: default;
}